@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-size-step-1: 14px;
  --font-size-step-2: 16px;
  --font-size-step-3: 18px;
  --font-size-step-4: 20px;
  --font-size-step-5: 24px;
  --font-size-step-6: 30px;
  --font-size-step-7: 36px;
  --font-size-step-8: 48px;
  --font-size-step-9: 60px;

  --line-height-step-1: 140%;
  --line-height-step-2: 150%;
  --line-height-step-3: 150%;
  --line-height-step-4: 150%;
  --line-height-step-5: 140%;
  --line-height-step-6: 140%;
  --line-height-step-7: 130%;
  --line-height-step-8: 120%;
  --line-height-step-9: 110%;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  max-width: 1280px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 auto;
  color: var(--foreground);
}

h1 {
  font-size: var(--font-size-step-9);
  line-height: var(--line-height-step-9);
}

h2 {
  font-size: var(--font-size-step-8);
  line-height: var(--line-height-step-8);
}

h3 {
  font-size: var(--font-size-step-7);
  line-height: var(--line-height-step-7);
}

h4 {
  font-size: var(--font-size-step-6);
  line-height: var(--line-height-step-6);
}

h5 {
  font-size: var(--font-size-step-5);
  line-height: var(--line-height-step-5);
}

h6 {
  font-size: var(--font-size-step-4);
  line-height: var(--line-height-step-4);
}

.text-step-1 {
  font-size: var(--font-size-step-1);
  line-height: var(--line-height-step-1);
}

.text-step-2 {
  font-size: var(--font-size-step-2);
  line-height: var(--line-height-step-2);
}

.text-step-3 {
  font-size: var(--font-size-step-3);
  line-height: var(--line-height-step-3);
}

.text-step-4 {
  font-size: var(--font-size-step-4);
  line-height: var(--line-height-step-4);
}

.text-step-5 {
  font-size: var(--font-size-step-5);
  line-height: var(--line-height-step-5);
}

.text-step-6 {
  font-size: var(--font-size-step-6);
  line-height: var(--line-height-step-6);
}

.text-step-7 {
  font-size: var(--font-size-step-7);
  line-height: var(--line-height-step-7);
}

.text-step-8 {
  font-size: var(--font-size-step-8);
  line-height: var(--line-height-step-8);
}

.text-step-9 {
  font-size: var(--font-size-step-9);
  line-height: var(--line-height-step-9);
}

.border-defautl {
  border: 1px solid slategray;
}

.menu-items,
.icons {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid slategray;
  padding: 0 16px 0 16px;
}

.menu-items-mobile {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid slategray;
  border-right: 1px solid transparent;
  padding: 1rem;
}

.menu-button {
  height: 100%;
  align-items: center;
  border-left: 1px solid slategray;
  border-bottom: 1px solid transparent;
  padding: 0 16px 0 16px;
}

.menu-items-bottom {
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid slategray;
  padding: 0 16px 0 16px;
}

.menu-items:hover,
.menu-button:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffa400;
}

.menu-items-bottom:hover,
.icons:hover {
  cursor: pointer;
  border-top: 2px solid #ffa400;
}

.active {
  border-bottom: 2px solid #ffa400 !important;
}


section::-webkit-scrollbar {
  width: 8px;
}

section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

section::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 4px;
}

section::-webkit-scrollbar-thumb:hover {
  background: #32408f;
}

section {
  scrollbar-width: thin;
  scrollbar-color: #3f51b5 #f1f1f1;
}

@keyframes slideIn {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(10px);
    opacity: 0;
  }
}

/* Adicione estas classes conforme necessário */
.slide-in {
  animation: slideIn 0.3s ease forwards;
}

.slide-out {
  animation: slideOut 0.3s ease forwards;
}

@keyframes progress {
  0% {
    transform: translateX(-100%) scaleX(0.1);
  }

  50% {
    transform: translateX(50%) scaleX(0.5);
  }

  100% {
    transform: translateX(200%) scaleX(0.1);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  h1 {
    font-size: var(--font-size-step-7);
    line-height: var(--line-height-step-7);
  }

  h2 {
    font-size: var(--font-size-step-6);
    line-height: var(--line-height-step-6);
  }

  h3 {
    font-size: var(--font-size-step-5);
    line-height: var(--line-height-step-5);
  }

  h4 {
    font-size: var(--font-size-step-4);
    line-height: var(--line-height-step-4);
  }

  h5 {
    font-size: var(--font-size-step-3);
    line-height: var(--line-height-step-3);
  }

  h6 {
    font-size: var(--font-size-step-2);
    line-height: var(--line-height-step-2);
  }

}